/*-----------------------
    1.Menu
    2.Home
    3.Footer
    4.404 page
    5.Login and SignUp and Reset password
    6.Single page
    7.Basket
    8.dashbord
    9.Order
    10.Checkout
    11.Setting
    12.Preferances
    13.Addressbook
    14.Process



	
-------------------------*/





/*======= 1.Menu ======*/
._1menu{
    background:#fff;
    padding: 0 30px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 11111;
box-shadow: var(--box-shadow);}
._1menu_con{
    
    display: flex;
    align-items: center;
}
._1menu_logo{
    flex: 0 0 auto;
    overflow: hidden;
padding-right: 30px;}
._1menu_logo a{}
._1menu_logo_img{
    height: 50px;
    width: auto;
}
._1menu_list{
    flex: 1 1;
text-align: right;}
._1menu_list_ul{}
._1menu_list_item:last-child{
    padding-right: 0px;
}
._1menu_list_item:hover ._1dropdown{
    display:block;
}
._1menu_list_item{
    display: inline-block;
    padding-right: 19px;
position: relative;}
._1menu_list_text._active{
    /* color: var(--link); */
}
._1menu_list_text{
    font-weight: bold;
    font-size: 15px;
    line-height: 80px;
    color: var(--color2);
    transition: .2s all ease;
    display: inline-block;
cursor: pointer;}
._1menu_list_text:hover{
    color: var(--hover);
}
._1menu_list_text_icon{}
@keyframes mymove {
    from {
        top: 120px;
        opacity: 0;
    }
    to {
        top: 80px;
        opacity: 1;
    }
}
._1dropdown{animation: mymove .5s ;position: absolute;background: #fff;box-shadow: var(--box-shadow2);transition: .2s all ease;width: 161px;z-index: 111;;;;text-align: left;top: 80px;display: none;}
._1dropdown_list{padding: 13px 0 18px;}
._1dropdown_list li{display: block;margin-bottom: 10px;padding: 0 16px 0;}
._1dropdown_list li:hover{}
._1dropdown_list li a{}
._1dropdown_list li:last-child{margin-bottom: 0;}
._1dropdown_list_text:hover:before{width: 12px;}
._1dropdown_list_text:before{
    position:absolute;
    content:'';
width: 0px;height: 2px;background: var(--link);top: 50%;transform: translateY(-50%);left: 0;transition: .2s all ease;}
._1dropdown_list_text:hover{
    
color: var(--link);position: relative;padding-left: 20px;white-space: nowrap;}
._1dropdown_list_text{font-size: 14px;cursor: pointer;transition: .5s all ease;color: var(--color3);display: block;position: relative;}
._1menu_right{
    flex: 0 0 auto;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
._1menu_right_icon{padding: 0 29px 0;}
._1menu_right_icon li:hover{
    color:var(--link);
}
._1menu_right_icon li{display: inline-block;font-size: 34px;color: var(--color2);cursor: pointer;margin-right: 16px;position: relative;}
._1menu_right_icon li:last-child{margin-right: 0;}
._1menu_right_icon_text{}
._1menu_right_main{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
._1menu_right_pro img{
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
._1menu_right_name{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding: 0 16px 0 14px;
}
._1menu_right_pro{
    background: rgba(255, 44, 42, 0.1);
    border: 1px solid #FF2C2A;
    box-sizing: border-box;
    border-radius: 30px;
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    overflow: hidden;
    margin-right: 24px;
}
._1menu_lan {
    flex: 0 0 auto;
    background: #F8F8F8;
    border: 1px solid #F8F8F8;
    border-radius: 33px;
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 13px 0;
}
._1menu_lan_select{
    font-size: 16px;
    color: #838181;
    line-height: 32px;
    cursor: pointer;
}
._1menu_lan_select i{
    font-size: 12px;
    padding: 00 0 0 4px;
}
._mob_menu._mob_menu_open._mob_menu_scroll{
    padding-top: 55px;
}
._mob_menu._mob_menu_open{
    opacity: 1;
    left: 0;
}
._mob_menu_close {
    position: absolute;
    top: 10px;
    right: 12px;
    z-index: 1;
    color: var(--color2);
    font-size: 25px;
}
._mob_menu {
    position: fixed;
    z-index: 111;
    background: #fff;
    width: 100%;
    left: -100%;
    top: 0;
    opacity: 0;
    transition: .5s all ease;
    padding-top: 11px;
    height: 100vh;
    overflow: auto;
}
._mob_menu ._1menu_list_item {
    display: block;
    padding-right: 0;
    padding: 0 15px 0;
    margin-bottom: 13px;
}
._mob_menu ._1menu_list_text {
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: var(--color2);
    transition: .2s all ease;
    display: block;
    cursor: pointer;
}
._mob_menu ._1dropdown {
    animation: none;
    position: inherit;
    background: transparent;
    box-shadow: none;
    transition: .2s all ease;
    width: 100%;
    z-index: 111;
    top: 00;
    display: none;
}
._mob_menu ._1menu_right {
    flex: 0 0 auto;
    max-width: 100%;
    display: block;
}
._mob_menu ._1menu_right_icon li {
    display: block;
    font-size: 30px;
    margin-right: 0;
}
._mob_menu ._1menu_right_icon {
    padding: 0 16px 13px;
}
._mob_menu{}
._1menu_button {
    font-size: 20px;
    color: var(--color2);
    padding: 0 0 0 6px;
    display: none;
}
._bas_drop{
    animation: mymove .5s;
    position: absolute;
    background: #fff;
    box-shadow: var(--box-shadow2);
    transition: .2s all ease;
    width: 550px;
    z-index: 111;
    top: 65px;
right: 0;padding: 21px 18px;display: none;}
._bas_drop_top{}
._bas_drop_card{display: flex;padding: 0 0 30px;}
._bas_drop_card_left{flex: 1 1;overflow: hidden;padding: 0 16px 0 0;}
._bas_drop_card_title{font-size: 16px;font-weight: bold;color: var(--color2);}
._bas_drop_card_text{font-size: 14px;margin: 9px 0 0;line-height: 21px;}
._bas_drop_card_right{flex: 0 0 auto;display: flex;flex-direction: column;justify-content: space-between;text-align: right;}
._bas_drop_card_price{flex: 0 0 auto;font-size: 18px;font-weight: bold;}
._bas_drop_card_close{font-size: 20px;cursor: pointer;display: inline-block;}
._bas_drop_bottom{border-top: 1px solid var(--border-color2);display: flex;align-items: flex-end;padding: 16px 0 0;}
._bas_drop_bottom_left{flex: 0 0 60%;overflow: hidden;padding: 0 20px 00 0;}
._bas_drop_bottom_p{font-size: 15px;color: var(--color3);margin: 0 0 7px;}
._bas_drop_bottom_p:last-child{
    margin-bottom:0px;
}
._bas_drop_bottom_p span{font-weight: bold;color: var(--color2);float: right;}
._bas_drop_bottom_right button{
    min-width: 110px;
}
._bas_drop_bottom_right{
    flex: 1 1;
    text-align: right;
}
._1menu_right_icon li:hover ._bas_drop{
    display: block;
}
._product{flex: 0 0 auto;position: relative;}
._product_title{height: 80px;line-height: 80px;cursor: pointer;font-size: 15px;font-weight: bold;}
._product_drop{animation: mymove .5s;
    position: absolute;
    background: #fff;
    box-shadow: var(--box-shadow2);
    transition: .2s all ease;
    width: 236px;
    z-index: 111;
    text-align: left;
    top: 80px;}
._product_drop_list{}
._product_drop_list li{display: block;position: relative;}
._product_drop_list li:last-child{}
._product_drop_text{color: var(--color3);padding: 10px 10px;display: block;transition: .2s all ease;}
._product_drop_text i{padding-left: 3px;}
._product_drop_text:hover{color: var(--color2);background: #33333305;}
._product_subdrop{animation: mymove .5s;
    position: absolute;
    background: #fff;
    box-shadow: var(--box-shadow2);
    transition: .2s all ease;
    width: 195px;
    z-index: 111;
    text-align: left;
    top: 0;right: -195px;padding: 6px 0;}
._product_subdrop li{}
._product_subdrop_text:hover{
        color: var(--color2);
    background: #33333305;
}
._product_subdrop_text{color: var(--color3);
    padding: 7px 19px;
    display: block;
    transition: .2s all ease;
}
/*======= 1.Menu end ======*/

/*======= 2.Home ======*/
._1banner{background-image: url(../img/bannerBg.jpg);background-size: cover;padding: 120px 0 120px;}
._1banner_con{position: relative;}
._1banner_title{text-align: center;font-size: 60px;color: #fff;}
._1banner_text{text-align: center;color: #fff;font-size: 22px;max-width: 694px;line-height: 31px;margin: 29px auto 0;}
._1banner_button_group{display: flex;align-items: center;max-width: 417px;margin: 44px auto 0;}
._1banner_button{flex: 1 1;text-align: center;padding: 0 8px;}
._artPlan{padding: 120px 0 120px;}
._artPlan_pic{}
._artPlan_img{
    width: 100%;
    height: auto;
}
._artPlan_con{}
._artPlanTwo ._artPlan_title {
    color: #fff;
}
._artPlan_title{font-size: 19px;font-weight: bold;color: var(--primary);}
._artPlan_subtitle{font-size: 45px;font-weight: bold;color: var(--color2);margin: 13px 0 0;}
._artPlan_des{font-size: 17px;line-height: 26px;color: var(--color3);margin: 21px 0 0;}
._artPlan_cards_all{margin-top: 14px;}
._artPlan_card{display: flex;padding-top: 23px;}
._artPlan_card_icon i{
    font-size: 45px;
    color:var(--primary)
}
._artPlan_card_icon{flex: 0 0 60px;}
._artPlan_card_details{}
._artPlan_card_title{font-size: 21px;font-weight: bold;color: var(--color2);}
._artPlan_card_text{font-size: 17px;line-height: 24px;margin: 8px 0 0;color: var(--color3);}
._artPlan_button{margin-top: 45px;}
._choose{background: var(--secondary);padding: 100px 0 100px;}
._choose_con{}
._choose_title{text-align: center;font-size: 19px;color: #fff;font-weight: bold;}
._choose_subtitle{color: #fff;text-align: center;font-size: 40px;margin: 12px 0 55px;}
._choose_cards_all{}
._choose_card{position: relative;}
._choose_card_pic{}
._choose_card_img{width: 100%;height: auto;}
._choose_card:hover ._choose_card_details{
    height: 201px;
}
._choose_card_details{position: absolute;bottom: 0;background: #fff;width: 100%;padding: 10px 20px 15px;height: 121px;overflow: hidden;transition: .3s all ease;}
._choose_card_icon{}
._choose_card_icon i{font-size: 59px;color: var(--primary);}
._choose_card_icon img{}
._choose_card_title{display: inline-block;font-size: 20px;font-weight: bold;color: var(--color2);transition: .2s all ease;cursor: pointer;margin: 8px 0 0;}
._choose_card_title:hover{color: var(--link);}
._choose_card_text{font-size: 15px;line-height: 23px;color: var(--color3);margin: 10px 0 0;}
._choose_card_des{}
._our_ser{padding: 120px 0 120px;background: #fff;}
._our_ser_con{}
._our_ser_title{text-align: center;font-size: 19px;color: var(--primary);font-weight: bold;}
._our_ser_subtitle{color: var(--color2);text-align: center;font-size: 40px;margin: 12px 0 55px;}
._our_ser_cards_all{}
._our_ser_card{border: 1px solid var(--border-color2);padding: 50px 20px 50px;transition: .2s all ease;}
._our_ser_card:hover {
    background: #f8f8f8;
}
._our_ser_card:hover ._our_ser_card_icon{background: var(--primary);color: #fff;}
._our_ser_card_icon{height: 90px;width: 90px;background: var(--primary-light);color: var(--primary);display: flex;align-items: center;justify-content: center;margin: 0 auto 35px;transition: .4s all ease;}
._our_ser_card_icon i{font-size: 30px;}
._our_ser_card_details{}
._our_ser_card_title{font-size: 20px;text-align: center;color: var(--color2);font-weight: bold;}
._our_ser_card_text{font-size: 15px;color: var(--color3);line-height: 24px;text-align: center;margin: 12px 0 0;}
._our_ser._our_blog{
    background: transparent;
}
/* Card */
._1card:hover{
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.11);
}
._1card{
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
    transition: .2s all ease;
}
._1card_slider{
    border-radius: 6px;
    overflow: hidden;
}
._1card_slider_img{}
._1card_main{
    padding: 0 6px;
}
._1card_details{
    padding: 10px 0px 20px;
}
._1card_title:hover{
    color: var(--hover);
}
._1card_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--color);
    display: block;
    transition: .2s all ease;
    cursor: pointer;
    text-decoration: none;
}
._1card_des{
    font-size: 14px;
    line-height: 24px;
    color: var(--color3);
    margin-top: 8px;
}
._1card_price span{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color4);
}
._1card_price{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--color);
    margin-top: 10px;
}
._1card_bottom{
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-color);
    padding: 20px 0 10px;
}
._1card_bottom_left{
    flex: 1 1;
    overflow: hidden;
    display: flex;
    align-items: center;
}
._1card_ratting{
    font-weight: 700;
    font-size: 16px;
    color: var(--primary);
    width: 32px;
    height: 32px;
    background: var(--primary-light);
    border-radius: 0px 6px 6px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}
._1card_ratting_text{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: var(--color);
    flex: 1 1;
    overflow: hidden;
    padding: 0 0 0 12px;
}
._1card_ratting_text span{
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
}
._1card_wishlist{
    flex: 0 0 auto;
    width: 40px;
    height: 40px;
    top: 0px;
    background: var(--primary-light);
    border-radius: 100%;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}
._1card_wishlist i{}
/* Card */
._looking{
    background:var(--primary);
    padding: 100px 0;
}
._looking_title{
    color: #fff;
    font-size: 40px;
}
._looking_message{
    position: relative;
}
._looking_message input{
    background:#fff;
    height: 60px;
    color: #000;
    font-size: 17px;
    width: 100%;
    border: none;
padding: 0 49px 0 22px;}
._looking_message i:hover{
    color: var(--link-hover);
}
._looking_message i{
    position: absolute;
    z-index: 1;
    padding: 11px;
    font-size: 38px;
    color: var(--link);
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
right: 0;}
._artPlan._artPlanTwo{
    background: var(--secondary);
    padding: 0;
}
._artPlanTwo ._artPlan_des{
    color: #fff;
}
._artPlan_number{
    font-size: 30px;
    color: #fff;
    margin: 10px 0 10px;
    font-weight: bold;
}
._artPlanTwo ._artPlan_subtitle{
    color: #fff;
}
._work_card{}
._work_card._odd{
    padding-top: 30px;
}
._work_card_icon i{
    font-size: 30px;
}
._work_card:hover ._work_card_icon {
    background: var(--primary);
    color: #fff;
}
._work_card_icon {
    height: 90px;
    width: 90px;
    border-radius: 100%;
    color: var(--primary);
    background: #fff;
    box-shadow: var(--box-shadow2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 25px;
    color: var(--primary);
    transition: .3s all ease;
}
._work_card_title{
    font-size: 20px;
    text-align: center;
    color: var(--color2);
    font-weight: bold;
}
._work_card_text{
    font-size: 16px;
    color: var(--color3);
    line-height: 24px;
    text-align: center;
    margin: 12px 0 0;
}
._work_card_details{}
/*======= 2.Home end ======*/

/*======= 3.Footer ======*/
._1footer{
    background: var(--secondary);
}
._1footer_top{
    padding: 42px 0 32px;
}
._1footer_title{
    font-weight: 700;
    font-size: 15px;
    line-height: 28px;
/* identical to box height, or 175% */
    color: #FFFFFF;
    margin-bottom: 16px;
}
._1footer_list{}
._1footer_list li{
    display: block;
    margin-bottom: 10px;
}
._1footer_list li a{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    font-feature-settings: 'kern' off;
    color: rgba(255, 255, 255, 0.6);
}
._1footer_list li a:hover{
    color: var(--hover);
}
._1footer_text{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 16px;
}
._1footer_input {
    border: 1px solid rgb(255 255 255 / 10%);
    box-sizing: border-box;
    border-radius: 53px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 2px 2px;
}
._1footer_int{
    background: transparent;
    border: none;
    font-size: 12px;
    color: #fff;
    flex:1 1;
    overflow: hidden;
    padding: 10px 14px;
    height: 100%;
}
._1footer_button:hover{
    background: var(--primary-hover);
    border: 1px solid var(--primary-hover);
}
._1footer_button{
    color: #fff;
    font-size: 14px;
    width: 34px;
    height: 34px;
    background: var(--primary);
    border: 1px solid var(--primary);
    flex: 0 0 auto;
    border-radius: 500%;
}
._1footer_bottom{
    border-top: 1px solid rgb(255 255 255 / 10%);
    display: flex;
    align-items: center;
    padding: 11px 0;
}
._1footer_copy{
    font-size: 12px;
    line-height: 150%;
    color: #54636E;
    flex: 1 1;
    overflow: hidden;
}
._1footer_social {
    display: flex;
}
._1footer_social li{
    flex: 0 0 auto;
    margin-left: 8px;
    display: block;
}
._1footer_social li a i{
    font-size: 11px;
}
._1footer_social li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: #fff;
    background: #54636E;
    border-radius: 100%;
    transition: 0.2s all ease;
}
._1footer_social li a:hover{
    background: var(--hover);
}
/*======= 3.Footer end ======*/

/*======= 4.404 page ========*/
._404page_layout {
    padding-left: 15px;
    padding-right: 15px;
}
._404page_card {
    background: #fff;
    /* border: 1px solid var(--border-color); */
    box-shadow: var(--box-shadow);
    border-radius: var(--b-r);
    padding: 40px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 20px;
}
._404page_title {
    text-align: center;
    margin-bottom: 21px;
    font-size: 38px;
    color: var(--color);
    font-weight: 600;
}  
._404page_text {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
}
._404page_button a:hover{
    color:var(--hover);
}
._404page_button a{
    color: var(--color);
    font-weight: 500;
    font-size: 20px;
}
._404page_button {
    text-align: center;
    margin: 19px 0 0;
}
/*======= 4.404 page end ========*/


/*======= 5.Login and SignUp and Reset password ======*/
._2menu {
    background: var(--bg-primary);
    padding: 25px 0 25px;
}
._2menu_con {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
._2menu_long {
    min-width: 159px;
}
._log_btn:hover{
    background: var(--bg-secondary-hover);
    color: #fff;
}
._log_btn{
    border: none;
    padding: 0 14px;
    color: #fff;
    height: 42px;
    transition: .2s all ease;
    font-size: 18px;
    background: var(--bg-secondary);
    /* border-radius: 8px; */
    align-items: center;
    justify-content: center;
    line-height: 1;
    font-weight: 500;
    border-radius: 6px;
}
._2menu_logo_text {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
}
._4banner {
    background: var(--secondary);
    padding: 1px 15px 140px;
}
._4banner_main{}
._4banner_title {
    font-size: 70px;
    line-height: 50px;
    display: block;
    margin: 50px 0 20px 0;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
}
._4banner_text {
    font-size: 27px;
    display: block;
    line-height: 1.3;
    color: #ffffff;
    font-weight: 200;
    text-align: center;
}
._log_form_main {
    width: calc(100% - 30px);
    max-width: 450px!important;
    margin: -70px auto 40px auto;
    padding: 23px 40px 26px;
    background: #ffffff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    border-radius: 6px;
}
._log_form_title {
    margin: 0 0 30px 0;
    font-size: 30px;
    display: block;
    color: var(--color);
    font-weight: 300;
    text-align: center;
}
._log_form{}
._log_input_group {
    margin-bottom: 15px;
}
._log_input {
    font-size: 15px;
    padding: 0 12px;
    display: block;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    height: 39px;
    color: var(--color2);
}
._log_input::-webkit-input-placeholder {
    color: #adadad;
} 
._log_input:-ms-input-placeholder { 
    color: #adadad;
}
._log_input::placeholder {
    color: #adadad;
}
._log_button{
    margin-top: 15px;
}
._1select {
    font-size: 15px;
    padding: 0 12px;
    display: block;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 6px;
    height: 42px;
    color: var(--color2);
    background: transparent;
}
._log_btn{}
._log_form_text {
    line-height: 22px;
    font-size: 16px;
    color: var(--color2);
    margin-bottom: 15px;
}
._log_form_check {
    padding: 3px 7px 3px 7px;
    color: #fff;
    background: #00cc66;
    border-radius: 100%;
    font-size: 13px;
    font-weight: bold;
}
._log_forget{
    margin-top: 15px;
    text-align: center;
}
._log_forget a:hover{
    color: var(--hover);
}
._log_forget a{
    font-size: 15px;
    color: var(--color);
    transition: .2s all ease;
}
._log_footer {
    padding: 24px 15px 50px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}
._log_footer_list{
    text-align: center;
}
._log_footer_list li:last-child {
    padding-right: 0px;
}
._log_footer_list li {
    display: inline-block;
    padding-right: 11px;
}
._log_footer_list li a {
    font-size: 14px;
    color: var(--color-link);
    transition: .2s all ease;
}
._log_footer_list li a:hover{
    color: var(--color-hover);
}
._log_footer_copy {
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    color: var(--color2);
}
._log_footer_copy a:hover{
    color: var(--color-hover);
}
._log_footer_copy a{
    color: var(--color-link);
    transition: .2s all ease;
}
/* Check box */
._log_checkBox {
    display: block;
    padding-bottom: 5px;
}
._log_checkBox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
._log_checkBox label a:hover{
    color:var(--color-hover);
}
._log_checkBox label a {
    color: var(--color-link);
    transition: .2s all ease;
    cursor: pointer;
}
._log_checkBox label {
    position: relative;
    cursor: pointer;
    margin: 0px;
}
._log_checkBox input:checked + label:before {
    background: var(--primary);
    border: 2px solid var(--primary);
}
._log_checkBox label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--border-color2);
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 6px;
}
._log_checkBox input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
/* Check box */
/*======= 5.Login and SignUp and Reset password end ======*/

/*======= 6.Single page ======*/
._sinPage{}
._sinPage_top{background: #fff;padding-top: 30px;padding-bottom: 50px;}
._sinPage_slider{margin-bottom: 20px;}
._sinPage_slider_pic{}
._sinPage_slider_img{width: 100%;height: auto;}
._sinPage_slider_list{display: flex;align-items: center;margin-left: -4px;margin-right: -4px;margin-top: 8px;overflow: hidden;}
._sinPage_slider_list li{display: block;flex: 1 1;padding: 0 4px;overflow: hidden;height: 130px;}
._sinPage_slider_list li img{height: 100%;width: 100%;object-fit: cover;cursor: pointer;}
._sinPage_artwork{background: var(--primary-light);border: 1px solid var(--primary);padding: 12px 15px 15px;margin-bottom: 20px;}
._sinPage_artwork_title{font-size: 16px;font-weight: bold;color: var(--color2);margin: 0 0 16px;}
._sinPage_artwork_list{margin-bottom: 20px;}
._sinPage_artwork_text{font-size: 14px;color: var(--color3);line-height: 22px;margin: 0 0 19px;}
._sinPage_artwork_list li{color: var(--color3);font-size: 14px;display: block;padding-bottom: 8px;}
._sinPage_artwork_list li:last-child{
    padding-bottom:0px;
}
._sinPage_artwork_list li span{}
._sinPage_artwork_icon{display: flex;align-items: center;margin-left: -4px;margin-right: -4px;}
._sinPage_artwork_icon li{display: block;flex: 1 1;overflow: hidden;padding: 0 4px;}
._sinPage_artwork_icon li a{display: block;cursor: pointer;}
._sinPage_artwork_icon li a img{}
._sinPage_price{background: #e2c0061f;border: 1px solid #ffdb1b;padding: 12px 15px 15px;text-align: center;margin-bottom: 20px;}
._sinPage_price_title{font-size: 16px;
    font-weight: bold;
    color: var(--color2);
    margin: 0 0 16px;}
._sinPage_price_button{}
._sinPage_price_button:hover{}
._sinPage_right{}
._sinPage_folder{}
._sinPage_folder_title{font-size: 25px;font-weight: bold;color: var(--color2);margin: 0 0 15px;}
._sinPage_folder_text{font-size: 15px;line-height: 24px;color: var(--color3);margin-bottom: 13px;}
._sinPage_folder_text a{color: var(--color2);text-decoration: underline;}
._sinPage_folder_text a:hover{color: var(--link);}
._sinPage_folder_form{padding-top: 20px;}
._1group{margin-bottom: 20px;}
._sinPage_looking{background: #00800005;
    border: 1px solid green;
    padding: 12px 15px 15px;
    text-align: center;
    margin-bottom: 20px;}
._sinPage_looking_title{font-size: 16px;
    font-weight: bold;
    color: var(--color2);
    margin: 0 0 16px;}
._sinPage_looking_text{font-size: 14px;color: var(--color3);margin: 0 0 15px;}
._sinPage_artwork._key_info{background: var(--secondary-light);}
._sinPage_turn{}
._sinPage_turn_main{}
._sinPage_turn_menu{display: flex;margin-left: -4px;margin-right: -4px;/* margin-bottom: -2px; */position: relative;}
._sinPage_turn_menu_list{display: block;flex: 1 1;padding: 0 4px;}
._sinPage_turn_menu_main:hover{
    border: 1px solid var(--primary);
}
._sinPage_turn_menu_main._active{background: var(--primary);border: 1px solid var(--primary);}
._sinPage_turn_menu_main._active ._sinPage_turn_menu_days{color: #fff;}
._sinPage_turn_menu_main._active ._sinPage_turn_menu_date{color: #fff;}
._sinPage_turn_menu_main{background: var(--primary-light);padding: 17px 15px;cursor: pointer;border-radius: 6px 6px 0 0;border: 1px solid var(--border-color2);border-bottom: 1px solid transparent;position: relative;transition: .2s all ease;}
._sinPage_turn_menu_days{font-weight: 500;color: var(--color2);text-align: center;margin: 0 0 3px;font-size: 15px;}
._sinPage_turn_menu_date{text-align: center;font-size: 12px;color: var(--color3);}
._sinPage_turn_details{background: var(--primary-light);border: 1px solid var(--border-color2);padding: 15px 5px 7px;}
._sinPage_turn_card_list li{flex: 0 0 50%;overflow: hidden;display: block;max-width: 50%;padding: 0 5px;}
._sinPage_turn_card_list{display: flex;flex-wrap: wrap;}
._sinPage_turn_card{background: #fff;margin-bottom: 10px;border: 1px solid var(--border-color2);display: flex;align-items: center;padding: 16px 16px;cursor: pointer;transition: .2s all ease;}
._sinPage_turn_card:hover{border: 1px solid var(--primary);}
._sinPage_turn_card:hover ._sinPage_turn_card_icon{opacity: 1;}
._sinPage_turn_card._active{background: var(--primary);}
._sinPage_turn_card._active ._sinPage_turn_card_price{color: #fff;}
._sinPage_turn_card._active ._sinPage_turn_card_icon{opacity: 1;color: #fff;}
._sinPage_turn_card_icon{flex: 0 0 auto;font-size: 16px;color: var(--color2);opacity: 0;}
._sinPage_turn_card._active ._sinPage_turn_card_qu{color: #fff;}
._sinPage_turn_card_qu{flex: 0 0 40%;font-size: 20px;font-weight: 500;color: var(--color2);}
._sinPage_turn_card_price{flex: 1 1;font-size: 21px;color: var(--color2);font-weight: bold;}
._sinPage_sum{background: #fff;}
._sinPage_sum_top{background: var(--primary);}
._sinPage_sum_text{text-align: center;color: #fff;padding: 12px 0;font-size: 14px;}
._sinPage_sum_text ._text{}
._sinPage_sum_text ._break{padding: 0 7px 0;}
._sinPage_sum_buttom{padding: 24px 0;}
._sinPage_sum_hide{flex: 0 0 auto;font-size: 14px;color: var(--color3);margin-right: 20px;cursor: pointer;transition: .2s all ease;}
._sinPage_sum_hide:hover{}
._sinPage_sum_con{display: flex;align-items: center;}
._sinPage_sum_total{color: var(--color2);font-weight: bold;font-size: 28px;flex: 1 1;overflow: hidden;}
._sinPage_sum_right{flex: 0 0 auto;display: flex;align-items: center;}
._sinPage_sum_left{flex: 1 1;overflow: hidden;display: flex;align-items: center;}
._sinPage_sum_vat{display: flex;align-items: center;margin-right: 13px;}
._sinPage_sum_vat_item:hover{background: var(--primary);
    color: #fff;}
._sinPage_sum_vat_item{height: 40px;border: 1px solid var(--primary);flex: 0 0 auto;display: flex;align-items: center;justify-content: center;font-size: 14px;cursor: pointer;padding: 0 12px;transition: .2s all ease;}
._sinPage_sum_vat_item._active{background: var(--primary);color: #fff;}
._sinPage_sum_vat_item._active span{font-size: 14px;opacity: 1;padding-left: 6px;}
._sinPage_sum_vat_item span{font-size: 14px;opacity: 0;font-size: 0;}
._sinPage_sum_button{}
._sinPage_like{
    padding: 40px 0 40px;
}
._sinPage_like_title{
    font-size: 25px;
    font-weight: bold;
    color: var(--color2);
    margin-bottom: 20px;
    text-align: center;
}
/*======= 6.Single page end ======*/

/*======= 7.Basket ======*/
._cart_page {
    padding: 30px 0 50px;
}
._cart_list {
    background: #fff;
    margin-bottom: 30px;
    overflow-x: auto;
}
.cart-table .table {
    border-bottom: 2px solid #292929;
    margin: 0;
}
.cart-table .table thead {
    background-color: #292929;
}
.cart-table .table thead tr th {
    text-align: center;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 12px 20px;
}
.cart-table th.pro-thumbnail, .cart-table td.pro-thumbnail {
    max-width: 120px;
    min-width: 100px;
    width: 120px;
}
.cart-table td.pro-thumbnail a img {
    width: 100%;
    background-color: #f6f7f8;
}
.cart-table td.pro-thumbnail a {
    display: block;
    border: 1px solid #eeeeee;
}
.cart-table .table tbody tr td {
    text-align: center;
    border: none;
    padding: 12px 20px;
    vertical-align: middle;
    border-bottom: 1px solid #dddddd;
}
.cart-table th.pro-title, .cart-table td.pro-title {
    min-width: 200px;
}
.cart-table td.pro-title a {
    font-size: 15px;
    font-weight: 600;
    color: var(--color);
}
.cart-table td.pro-price span {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #929292;
}
._price_text {
    color: red !important;
    margin-right: 10px;
}
.cart-table .table tbody tr td {
    text-align: center;
    border: none;
    padding: 12px 20px;
    vertical-align: middle;
    border-bottom: 1px solid #dddddd;
}
._pro_qty3 ._pro_qty {
    margin-right: 0px;
    width: 100%;
}
._pro_qty {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    text-align: center;
    background: #fff;
    border: 1px solid #ededed;
    margin-right: 15px;
    padding: 0 10px;
    height: 55px;
    overflow: hidden;
}
._pro_qty span:first-child {
    padding-right: 10px;
    border-right: 1px solid #ededed;
}
._pro_qty span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}
._pro_qty input {
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding: 0px 5px;
    text-align: center;
}
._pro_qty span:last-child {
    padding-left: 10px;
    border-left: 1px solid #ededed;
}
.cart-table td.pro-subtotal span {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: var(--color);
}
.cart-table td.pro-remove span{
    cursor: pointer;
    display: block;
    font-weight: 600;
    color: #929292;
}
._cart_form {
    background: #fff;
    margin-top: 30px;
    padding: 25px 30px;
}
.mb-25{
    margin-bottom: 25px;
}
._cart_form_title {
    font-size: 19px;
    font-weight: 500;
    color: var(--color);
}
._cart_form_group, ._cart_form_title {
    margin-bottom: 15px;
}
._textarea{
    border-radius: 0 !important;
    border: 1px solid #ebebeb !important;
    padding:11px 25px;
    width: 100%;
}
.dddd {
    text-align: center;
    margin: 0 auto;
    /* position: absolute; */
    left: 50%;
    top: -27px;
    transform: translateX(-50%);
    width: 56px;
}
._2select .ivu-select-placeholder {
    width: auto;
    height: 40px !important;
    color: #929292 !important;
    background-color: transparent;
    line-height: 40px !important;
}
._2select .ivu-select-selected-value {
    width: auto;
    height: 40px !important;
    color: #929292 !important;
    background-color: transparent;
    line-height: 40px !important;
}
._2select .ivu-select-selection {
    position: relative;
    height: 40px !important;
    border: 1px solid var(--border-color2) !important;
    line-height: 40px !important;
    padding: 0 5px !important;
    color: #000000 !important;
    border-radius: 5px!important;
}
._2select.ivu-select-visible .ivu-select-selection {
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}
._3select .ivu-select-placeholder {
    width: auto;
    height: 45px !important;
    color: #929292 !important;
    background-color: transparent;
    line-height: 45px !important;
}
._3select .ivu-select-selected-value {
    width: auto;
    height: 45px !important;
    color: #929292 !important;
    background-color: transparent;
    line-height: 45px !important;
}
._3select .ivu-select-selection {
    position: relative;
    height: 45px !important;
    border: 1px solid #999999 !important;
    line-height: 45px !important;
    padding: 0 10px !important;
    color: #929292 !important;
    border-radius: 0px !important;
}
._3select.ivu-select-visible .ivu-select-selection {
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}
.ivu-select-item-selected {
    color: #ee3333 !important;
}   
._1input {
    width: 100%;
    height: 40px;
    border: 1px solid var(--border-color2);
    line-height: 24px;
    padding: 9px 12px;
    color: #000000;
    font-size: 14px !important;
    outline: none;
    font-size: 12px;
    background-color: transparent;
}
._1textarea {
    width: 100%;
    border: 1px solid var(--border-color2);
    line-height: 24px;
    padding: 9px 12px;
    color: #000000;
    font-size: 14px !important;
    outline: none;
    font-size: 12px;
    background-color: transparent;
}
._cart_details_top span{
    float: right;
}
._cart_details_top p {
    text-transform: capitalize;
    font-weight: 600;
    color: var(--color2);
    font-size: 13px;
    padding: 8px 10px;
    border-bottom: 1px solid #e7e7e7;
    line-height: 25px;
}
._cart_details_top h2 span{
    float: right;
}
._cart_details_top h2 {
    border-bottom: none!important;
    padding: 9px 10px 0;
    font-size: 18px;
    line-height: 23px;
    text-transform: capitalize;
    font-weight: 600;
    color: #292929;
    margin-bottom: 20px;
}
/*======= 7.Basket end ======*/

/*======= 8.dashbord ======*/
._dashbord{padding: 30px 0 50px;}
._dashbord_title{font-size: 20px;font-weight: bold;margin: 0 0 20px;color: var(--color2);}
._dashbord_cards{}
._dashbord_card{text-align: center;background: #fff;padding: 25px 20px;height: 100%;}
._dashbord_card_icon{
    height: 85px;
    margin-bottom: 20px;
}
._dashbord_card_icon_img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
._dashbord_card_title{font-size: 17px;color: var(--color2);margin: 0 0 11px;display: inline-block;}
._dashbord_card_title:hover{color: var(--link);text-decoration: underline;transition: .2s  all ease;}
._dashbord_card_text{font-size: 15px;line-height: 22px;}
/*======= 8.dashbord end ======*/

/*======= 9.Order ======*/
._order{
    margin: 30px 0 50px;
    background: #fff;
    padding: 30px;
}
._oreder_title{
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px;
    color: var(--color2);
}
._order_filter{
    display: flex;
    align-items: center;
    background: var(--primary-light);
    padding: 15px 18px;
    margin: 0 0 36px;
}
._order_filter_left{
    flex: 1 1;
    display: flex;
    align-items: center;
}
._order_filter_text{
    font-size: 16px;
    font-weight: 500;
    flex: 0 0 auto;
}
._order_filter_input{
    flex: 0 0 auto;
    padding: 00 12px 0;
}
._order_filter_int{
    border: 1px solid var(--primary);
    padding: 7px 23px;
    color: var(--color);
    background: #fff;
    cursor: pointer;
}
._order_filter_vs{
    flex: 0 0 10px;
    text-align: center;
}
._order_filter_right{}
._order_filter_right select{
    padding: 8.5px 17px;
    background: #fff;
}
._order_table:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
._order_table_main{}
._order_table_top{
    display: flex;
    align-items: center;
    margin: 0 0 2px;
}
._order_table_one{
    flex: 0 0 125px;
    padding: 0 6px 0  00;
}
._order_table_th{
    font-size: 14px;
    font-weight: bold;
    color: var(--color);
}
._order_table_two{
    flex: 0 0 120px;
    overflow: hidden;
    padding: 0 6px;
}
._order_table_three{
    flex: 0 0 124px;
    overflow: hidden;
    padding: 0 6px;
}
._order_table_four{
    flex: 1 1;
    overflow: hidden;
}
._order_table{
    border-bottom: 1px solid var(--border-color2);
    padding: 20px 0;
}
._order_table_item_top{
    display: flex;
    flex: 1 1;
    overflow: hidden;
    cursor: pointer;
}
._order_table_left{
    flex: 1 1;
    overflow: hidden;
    display: flex;
    /* align-items: center; */
    padding: 0 18px 0 0;
    flex-wrap: wrap;
}
._order_table_left_item{
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    max-width: 100%;
    border-bottom: 1px solid var(--border-color2);
    padding: 30px 0;
}
._order_table_left_item:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
._order_table_no{
    font-size: 15px;
    font-weight: bold;
    color: var(--color3);
}
._order_table_no_text{
    font-size: 12px;
    line-height: 17px;
    color: var(--color3);
    margin: 4px 0 0;
}
._order_table_status{
    font-size: 14px;
    color: var(--color3);
}
._order_table_status._dispatched{
    color: green;
}
._order_table_status._cenceled{
    color: blue;
}
._order_table_date{
    font-size: 15px;
    color: var(--color3);
}
._order_table_addrress{
    font-size: 14px;
    color: var(--color3);
}
._order_table_right{
    flex: 0 0 270px;
    overflow: hidden;
    text-align: right;
    /* background: var(--primary-light); */
}
._order_table_icon{
    display: inline-block;
    color: var(--color2);
    font-size: 30px;
    margin: 14px 7px 0 0;
}
._order_table_icon i{}
._order_table_item_bottom{
    display: none;
}
._active._order_table ._order_table_right{
    background: var(--primary-light);
}
._active._order_table ._order_table_item_bottom{
    display: flex;
}
._order_table_first{
    flex: 0 0 auto;
    font-size: 16px;
    cursor: pointer;
    color: var(--color3);
    text-decoration: underline;
    transition: .2s all ease;
}
._order_table_first:hover{
    color: var(--color2);
}
._order_table_card{
    flex: 1 1;
    overflow: hidden;
    padding: 0 26px 0 68px;
}
._order_table_card_title{
    font-size: 20px;
    font-weight: bold;
    color: var(--color2);
}
._order_table_card_des{
    font-size: 14px;
    color: var(--color3);
    margin: 9px 0 0;
}
._order_table_card_date{
    font-size: 14px;
    color: var(--color3);
    margin: 8px 0 0;
}
._order_table_card_date span{
    font-weight: bold;
    color: var(--color2);
}
._order_table_card_price{
    font-size: 16px;
    font-weight: bold;
    color: var(--color2);
    margin: 11px 0 0;
}
._order_table_button{
    flex: 0 0 208px;
}
._order_table_button button{}
._order_table_button button:first-child{
    margin-bottom: 10px;
}
._order_table_details{
    text-align: left;
    padding: 9px 18px 25px;
}
._order_table_details_item{
    font-size: 13px;
    color: var(--color2);
    line-height: 25px;
}
._order_table_details_price span{font-weight: bold;}
._order_table_details_price{
    font-size: 23px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    padding: 9px 0px;
    margin: 12px 0 0;
    color: var(--color2);
    font-weight: 400;
}
._order_dispatched{
    font-size: 14px;
    font-weight: bold;
    color: var(--color2);
    margin: 22px 0 12px;
}
/*======= 9.Order end ======*/

/*======= 10.Checkout ======*/
._checkout{
    padding: 30px 0 50px;
}
._checkout_title{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 15px;
    color: var(--color2);
}
._checkout_left{
    background: #fff;
    padding: 25px 20px;
}
._checkout_left_item{}
._checkout_left_title{
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 14px;
}
._1group{
    margin-bottom: 20px;
}
._1label{}
._1button_group{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
._1button_group_back{
    font-size: 14px;
    font-weight: bold;
    flex: 0 0 auto;
    margin-right: 20px;
    cursor: pointer;
}
._1button_group button{
    min-width: 110px;
}
._checkout_right{
    background: #fff;
    padding: 20px 18px;
}
._checkout_subtotal{
    font-size: 14px;
    color: var(--color2);
    line-height: 22px;
    padding-bottom: 10px;
}
._checkout_subtotal span{
    float: right;
}
._checkout_total{
    font-size: 24px;
    color: var(--color2);
    border-top: 1px solid var(--border-color2);
    padding: 10px 0 0;
}
._checkout_total span{
    float: right;
}
._checkout_booklets{
    color: var(--color3);
    font-size: 14px;
    margin: 4px 0 0;
}
._checkout_bookle_x{
    color: var(--color3);
    font-size: 14px;
    font-weight: bold;
    margin: 6px 0 0;
}
._checkout_date_main{
    margin: 28px 0 0;
}
._checkout_date_title{
    font-size: 15px;
    font-weight: bold;
    color: var(--color2);
}
._checkout_date{
    font-size: 14px;
    color: var(--color3);
    margin: 5px 0 0;
}
._del_add{}
._input_button{
    position: relative;
    padding: 16px 0;
}
._input_button i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    cursor: pointer;
    font-size: 22px;
    color: var(--color2);
    padding: 7px 7px;
}
._del_add_main{}
._del_add_card._active{
    border: 1px solid var(--primary);
}
._del_add_card{
    border: 1px solid var(--border-color2);
    position: relative;
    height: 100%;
    cursor: pointer;
}
._del_add_card._active ._del_add_card_ceheck{
    display: block;
}
._del_add_card._active ._del_add_card_title{
    border-bottom: 1px solid var(--primary);
    background: var(--primary);
    color: #fff;
}
._del_add_card_title{
    font-size: 16px;
    font-weight: bold;
    color: var(--color2);
    border-bottom: 1px solid var(--border-color2);
    padding: 16px 18px;
}
._del_add_card_details{
    padding: 10px 18px;
}
._del_add_card_text{
    font-size: 14px;
    color: var(--color3);
    line-height: 27px;
}
._del_add_card_ceheck{
    position: absolute;
    font-size: 28px;
    color: #fff;
    top: 11px;
    right: 9px;
    display: none;
}
._del_add_card_item{
    margin-bottom: 24px;
}
._del_add_label{}
._del_add_label span{
    float: right;
    cursor: pointer;
    text-decoration: underline;
    color: var(--color3);
    transition: .2s all ease;
}
._del_add_label span:hover{
    color: var(--color2);
}
._pagination{
    margin-bottom: 25px;
    text-align: center;
}
._note{
    font-size: 12px;
    color: var(--color3);
}
._method_item{
    border: 1px solid var(--border-color2);
    margin-bottom: 17px;
}
._method_item_title{
    font-size: 16px;
    color: var(--color2);
    padding: 18px 18px;
    position: relative;
    cursor: pointer;
}

._method_item_title i{
    position: absolute;
    font-size: 31px;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--color2);
}
._method_item_title i:nth-last-child(2){}
._method_item_title i:last-child{
    display: none;
}
._method_item._active ._method_item_title i:nth-last-child(2){
    display: none;
}
._method_item._active ._method_item_title i:last-child{
    display: block;
}
._method_item._active ._method_item_title i{
    display:block;
    color: #fff;
}
._method_item_main{
    padding: 18px 18px;
    display: none;
    border-top: 1px solid var(--border-color2);
}
._method_item._active{
    border: 1px solid var(--primary);
}
._method_item._active ._method_item_main{
    display: block;
    border-top: 1px solid var(--primary);
}
._method_item._active ._method_item_title{
    background: var(--primary);
    color: #fff;
}
/*======= 10.Checkout end ======*/

/*======= 11.Setting ======*/
._setting{
    background: #fff;
    margin: 30px 0 50px;
    padding: 30px;
}
._setting_title{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 15px;
    color: var(--color2);
}
._setting_item {
    margin-bottom: 40px;
}
._setting_top{
    display: flex;
    align-items: center;
    margin: 0 0 31px;
}
._setting_item_title{
    font-size: 18px;
    font-weight: bold;
    flex: 1 1;
    overflow: hidden;
}
._setting_icon_list{flex: 0 0 auto;}
._setting_icon_list li:hover{
    color: var(--color2);
}
._setting_icon_list li {
    display: inline-block;
    font-size: 14px;
    margin-left: 15px;
    text-decoration: underline;
    color: var(--color3);
    cursor: pointer;
}
._setting_icon_list li i{}
._setting_details{}
._setting_details_item{
    display: flex;
    margin-bottom: 15px;
}
._setting_details_title{
    flex: 00 0 155px;
    font-size: 15px;
    color: var(--color3);
    padding: 0 10px 0 0;
}
._setting_details_val{
    color: var(--color2);
    font-size: 15px;
    font-weight: bold;
}
._my_card_main{
    display: flex;
    flex-wrap: wrap;
}
._my_card {
    flex: 0 0 200px;
    border: 1px solid var(--border-color2);
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 9px 15px;
    text-align: center;
}
._my_card_text{
    font-size: 15px;
    color: var(--color2);
    line-height: 28px;
}
._update_pre:hover{
    color: var(--color2);
}
._update_pre{
    font-size: 14px;
    color: var(--color3);
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}
/*======= 11.Setting end ======*/

/*======= 12.Preferances ======*/
._preferances{
    background: #fff;
    margin: 30px 0 50px;
    padding: 30px;
}
._preferances_title{
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 15px;
    color: var(--color2);
}
._communication{
    font-size: 17px;
    color: var(--color2);
    line-height: 22px;
}
/*======= 12.Preferances end ======*/

/*======= 13.Addressbook ======*/
._addressBook._active ._addressBook_remove{
    border-top: 1px solid var(--primary);
}
._addressBook_remove{
    border-top: 1px solid var(--border-color2);
    font-size: 14px;
    padding: 16px 18px;
    flex: 0 0 auto;
}
._addressBook_remove span:hover{
    color: var(--color2);
}
._addressBook_remove span{
    color: var(--color3);
    text-decoration: underline;
    transition: .2s all  ease;
}
._addressBook{
    display: flex;
    flex-direction: column;
}
._addressBook ._del_add_card_title{
    flex: 0 0 auto;
}
._addressBook ._del_add_card_details{
    flex: 1 1;
    overflow: hidden;
}
._addressBook_main{}
._addressBook_top{
    display: flex;
    align-items: center;
}
._addressBook_top ._del_add_label{
    flex: 1 1;
    overflow: hidden;
}
._addressBook_top ._input_button{flex: 0 0 477px;}
/*======= 13.Addressbook ======*/

/*======= 14.Process ======*/
._order_table_left_item_left {
    flex: 0 0 239px;
    text-align: center;
}
._order_table_pic {
    margin-bottom: 15px;
}
._order_table_left_item._process_card{
    align-items: flex-start;
}
._order_table_left_item._process_card ._order_table_card ._order_table_button {
    padding: 9px 0 0;
}
._order_table_left_item._process_card ._order_table_card {
    flex: 1 1;
    overflow: hidden;
    padding: 0 20px;
}
._order_table_img{}
._invoiceTable_item_title_main {
    padding: 0 0 10px;
}
._invoiceTable_item {
    display: flex;
    align-items: center;
    border-top: 1px solid var(--border-color2);
    padding: 17px 0;
}
._order_table_five{
    flex: 0 0 147px;
    overflow: hidden;
    padding: 0 6px;
    text-align: center;
}
._order_table_six{
    flex: 0 0 156px;
    overflow: hidden;
    padding: 0 6px;
    text-align: right;
}
._order_table_seven{}
._order_table_total{
    font-size: 21px;
    color: var(--color2);
    font-weight: bold;
}
._order_table_download_icon{
    text-align: center;
}
._order_table_download_icon i:hover{
    color: var(--color2);
}
._order_table_download_icon i{
    font-size: 30px;
    color: var(--color3);
    transition: .2s all ease;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
/*======= 14.Process ======*/